.question {
    margin: auto;
    min-height: 10rem;
    padding: 1em;
    height: 20vh;
    background: #504c5f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-answers {
    margin: 2em 2% 0;
    display: grid;
    row-gap: 1.25vw;
    column-gap: 1.25vw;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.answer-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0.75em 0.75em;
    border: none;
    border-radius: 1rem;
    transition: 0.3s;
    background: #504c5f;
    box-shadow: 0 1em #302b3a;
    color: #bbbbbb;
}

.answer-one:hover {
    scale: 1.08;
}

.answer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0.75em 0.75em;
    border: none;
    border-radius: 1rem;
    transition: 0.3s;
    background: #2d6d37;
    box-shadow: 0 1em #302b3a;
    color: #bbbbbb;
}

.answer-wrong {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0.75em 0.75em;
    border: none;
    border-radius: 1rem;
    transition: 0.3s;
    background: rgb(114, 37, 33);
    box-shadow: 0 1em #302b3a;
    color: #bbbbbb;
}

.answer-selected {
    outline: thick solid #b1d3e7;
}

.grid-answers p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.grid-move-and-submit {
    margin: 2em 2%;
    display: grid;
    column-gap: 5%;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

#prev {
    grid-column: 1/3;
}

#submit {
    grid-column: 2/3;
}

#next {
    grid-column: 3/3;
}